/* Light Mode Colors */
:root,
[data-theme="light"] {
  --bg-primary: rgba(240, 247, 247, 1);
  --stroke: #ffffff;
  --text-primary: #333333;
  --text-secondary: #444444;
  --card-bg: #ffffff;
  --card-border: #e0e0e0;
  --accent-primary: #007575;
  --accent-light: #13b8b8;
  --logo-bg: #007575;
  --logo-text: #ffffff;
  --border: rgba(255, 255, 255, 0.75);
}

/* Dark Mode Colors */
[data-theme="dark"] {
  --bg-primary: rgba(0, 47, 47, 1);
  --stroke: #333333;
  --text-primary: #ffffff;
  --text-secondary: #d9d9d9;
  --card-bg: rgba(83, 228, 162, 0.05);
  --card-border: rgba(83, 228, 162, 0.1);
  --accent-primary: #53e4a2;
  --accent-light: #1dd9d9;
  --logo-bg: rgba(83, 228, 162, 0.1);
  --logo-text: #53e4a2;
  --border: rgba(0, 0, 0, 0.5);
}


@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Italic.ttf") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-SemiBold.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Product Sans";
}